<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="pupil" class="com.epam.jmp.model.Pupil" scope="prototype">
        <property name="name" value="Alice"/>
    </bean>

    <alias name="pupil" alias="p1"/>

</beans>